.win-box {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 40px;
    text-align: center;
}

.win-content {
    font-size: 200px;
    display: inline-block;
    -webkit-text-stroke: 1px white;
}

body{
	background: #ffffff;
    font-family: arial;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.board{
	width: 900px;
	height: 900px;
	background: #ffffff00;
}

.game{
	position: relative;
	width: 900px;
	margin: 40px auto 0;
}

.cols{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 13;
}

.cols > .col{
	position: relative;
	float: left;
	width: 300px;
	height: 300px;
}

.local > .subcols {
    width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
}

.subcols > .subcol {
    position: relative;
	float: left;
	width: 100px;
	height: 100px;
}

.box00 {
    border-right: solid;
    border-bottom: solid;
}

.box01 {
    border-right: solid;
    border-bottom: solid;
}

.box02 {
    border-bottom: solid;
}

.box10 {
    border-right: solid;
    border-bottom: solid;
}

.box11 {
    border-right: solid;
    border-bottom: solid;
}

.box12 {
    border-bottom: solid;
}

.box20 {
    border-right: solid;
}

.box21 {
    border-right: solid;
}

/* .box22 {
} */

.local {
    width:300px;
    height:300px;
    background:#ffffff00;
    border-width: 5px;
    border-color: black;
    position: relative;
    /* font-size: 20em; */
}

.grid {
    width:100px;
    height:100px;
    background:#ffffff00;
    border-width: 1px;
    text-align: center;
    font-size: 6em;
    border-color: black;
}

/* .hover:hover {
    background: #888888;
} */

.hoverCross:hover {
    background:rgb(62, 62, 161, 0.4);
}

.hoverNaught:hover {
    background: rgb(184, 61, 61, 0.4);
}

.naught {
    color: red;
}

.cross {
    color: blue;
}

.naughtTrans {
    background: rgba(255, 0, 0, 0.500);
}

.crossTrans {
    background: rgba(0, 0, 255, 0.500);
}

.selectNaught {
    background: rgba(255, 0, 0, 0.200);
}

.selectCross {
    background: rgba(0, 0, 255, 0.200);
}

.stalemateTile {
    background: rgba(128, 128, 128, 0.500);
}

.naughtTile {
    color: red;
}

.crossTile {
    color: blue;
}

.localInfo {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 16em;
    text-align: center;
    z-index: 200;
    display: none;
}

.hollowX {
    color: rgba(0, 0, 255, 0.6);
}

.hollowO {
    color: rgba(255, 0, 0, 0.6);
}